:root {
  --radius: 0.325rem;
  --radius-xs: 0.325rem;
  --radius-sm: 0.325rem;
  --radius-md: 0.325rem;
  --radius-lg: 0.325rem;
  --radius-xl: 0.325rem;
  --radius-2xl: 0.325rem;
  --radius-3xl: 0.325rem;
  --radius-4xl: 0.325rem;
}
