NEXT_PUBLIC_SANITY_PROJECT_ID=
NEXT_PUBLIC_SANITY_DATASET=
NEXT_PUBLIC_SANITY_API_VERSION=2024-10-28
NEXT_PUBLIC_SANITY_STUDIO_URL=http://localhost:3334
NEXT_PUBLIC_FOXY_STORE_URL=https://delgrossosauce.foxycart.com
NEXT_PUBLIC_GA_MEASUREMENT_ID=
# Foxy admin -> Settings > Cart > HMAC encryption key
FOXY_CART_SIGNING_KEY=
SANITY_API_READ_TOKEN=
SANITY_API_WRITE_TOKEN=
SITE_ID=site-LFD
SITE_SLUG=lfd
